@model Taksopark.MVC.Models.LogInModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{   
@Html.AntiForgeryToken()
    <div class="loginFormContentHolderClass">
        <hr />
        <div>
            <span id="errorMessageId">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</span>
        </div>
        <div class="loginContentHolderClass">
            <input type="text" id="loginTextBoxId" class="textBoxValidationClass" name="Login" placeholder="Login" />
            <span id="loginValidationErrorSpanId"></span>
        </div>
        <br />
        <div class="loginContentHolderClass">
            <input type="password" id="passwordTextBoxId" class="textBoxValidationClass" name="Password" placeholder="Password" />
            <span id="passwordValidationErrorSpanId"></span>
        </div>
        <br />
        <div id="loginButtonHolderId" class="loginButtonHolderClass">
            <input type="submit" id="loginButtonId" value="Log In" class="abutton" />
        </div>
    </div>
}
