@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-Us">

<head>
    <meta charset="utf-8" />
    <title>404:Page not Found</title>
    @Styles.Render("~/Content/Layout/error-style")
</head>

<body>
    <body>
        <div class="block1">
            <h1>404:Page not Found</h1>
            <p>
                Sorry, but the page you are looking for has not been found.
                <br>
                <br>
                Try checking the URL for errors, then hit the refresh button
                on your browser or you can return to the homepage.
                <br>
                <br>

            </p>
        </div>

    </body>

</body>
