@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-Us">

<head>
    <meta charset="utf-8" />
    <title>403:403 Forbidden</title>
    @Styles.Render("~/Content/Layout/error-style")
</head>

<body>
        <div class="block1">
            <h1>403:Page not Found</h1>
            <p>
                <br>
                The request was a valid request, but the server is refusing to respond to it. 
                Unlike a 403 Unauthorized response, authenticating will make no difference.
                <br>
                <br>
            </p>
        </div>
</body>
