<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net451" />
  <package id="Unity.WebForms" version="1.2.0.0" targetFramework="net451" />
  <package id="WebActivator" version="1.5.3" targetFramework="net451" />
</packages>