.block1 { 
	margin: 15% 15% 15% 35%;
	height: 350px;
	font-weight: 700;
	padding: .15em .3em;
	outline: none;
	border: 1px solid #fdc903;
    clear: both;
   }
   
.block1 p{
    margin:7%;
	color:rgb(139, 129, 76);
	text-decoration: none;
}
   


.block1 h1{
    margin:7%;
	text-transform:uppercase;
	text-align: Left;
	color:rgb(139, 129, 76);
}



 .ContactlUs {
    float: left;
    margin:10% 10% 65% 10%;
    width: 15%;
	height: 350px;
	font-weight: 700;
	padding: .25em .5em;
	outline: none;
	border: 1px solid #fdc903;
	/*background: rgb(240, 255, 240) linear-gradient(rgb(255, 255, 0), rgb(255, 165, 0));*/
    position:absolute;
    top:7%;
    left:7%;

}

.ContactlUs h2{
    margin-top:7%;
	text-transform:uppercase;
	text-align: center;
	/*color:rgb (104, 131, 139);*/
	color:rgb(139, 129, 76);
}



.ContactlUs .emailUsButton {
    display: block;
	border: 1px solid #fdc903;
    height: 45px;
    width: 150px;
    cursor: pointer;
}
.ContactlUs a {

    font: 15px helvetica,arial,sans-serif;   
    text-align:center;
	text-decoration:none;
    color: white;
}
.ContactlUs p {
    text-align: right;
    /*font: 16px/20px helvetica,arial,sans-serif;*/   
	text-decoration:none;
    color:rgb(139, 129, 76);

}