.login-st {
    text-align : right;
    margin-right: 10px;
}



.direction-div {
    float: left;
    border: 1px solid black;
    position: relative;
}


/*======BUTTONS EFECTS======*/
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse:hover, .pulse:focus, .pulse:active {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*======Container======*/
 #container .modal.fade {
     left: -25%;
     -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
     transition: opacity 0.3s linear, left 0.3s ease-out;
}
#container .modal.fade.in {
    left: 90%;
    
}

 #container .modal-body {
    max-height: 50px;
}

.login-form-st {
    margin-top: 100px;
    width: 300px;
    height: 320px;
    margin-left: 40%;
    margin-right: 40%;
    overflow: hidden;
    border: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white; 
    margin-left: auto; 
    margin-right: auto; 
}

.background {
    background-color: white;
}

.margin {
    margin-bottom: 15px;
}

.centre {
    horiz-align: center;
}

h3 {
    color: #fdc903;
}

.abutton {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
    margin-left: 5px;
    height: 25px;
    background: #fdc903;
    text-align: center;
    border-radius: 0px;
    color: white;
    border: none;
    text-decoration: none;
    font-family: 'Arial';
}

.abutton:hover {
background-color: #585757;
}

.abutton:hover {
color: #fdc903;
}


.width1 {
    width: 70px;
}

.width2 {
    width: 100px;
}