@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserInfo</title>
    @Scripts.Render("~/bundles/userinfo")
</head>
<body>
    <div id="userInfo" style="margin:0 24% 0 24%; width:52%; background-color:#b5c4c8">
        <h1 style="text-align:center">User Information</h1>
        <table id="tableRegister" style="margin:auto;">
            <tr>
                <td><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR3jXllYBwoQoMklUof7Xd4mT8dvKAqzxI8FpFArGseAZlhSKsyAQ" id="userInfoImage" /></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td>
                    <input type="text" id="userInfoName" name="userInfoName" readonly="true"
                           style="background-color:#3ebebe" value="There will be user name" />
                </td>
            </tr>
            <tr>
                <td><b>Last Name:</b></td>
                <td>
                    <input type="text" id="userInfoLastName" name="userInfoLastName" readonly="true"
                           style="background-color:#3ebebe" value="There will be user last name" />
                </td>
            </tr>
            <tr>
                <td><b>Login:</b></td>
                <td>
                    <input type="text" id="userInfoLogin" name="userInfoLogin" readonly="true"
                           style="background-color:#3ebebe" value="There will be user login" />
                </td>
            </tr>
            <tr>
                <td><b>E-mail:</b></td>
                <td>
                    <input type="text" id="userInfoEmail" name="userInfoEmail" readonly="true"
                           style="background-color:#3ebebe" value="There will be user e-mail" />
                </td>
            </tr>
            <tr>
                <td><b>Password:</b></td>
                <td>
                    <input type="text" id="userInfoPassword" name="userInfoPassword" readonly="true"
                           style="background-color:#3ebebe" value="There will be user password" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="text-align:center">
                        <input type="submit" id="changeInfo" name="changeInfo" style="width:150px;" value="Change information"
                               onclick="changeInformation()" />
                        <input type="submit" id="saveInfo" name="saveInfo" style="width:150px;" value="Save information"
                               onclick="saveInformation()" disabled="disabled" />
                    </p>

                </td>
            </tr>
            <tr>
                <td><b>Your discount at that time is:</b></td>
                <td><h3 style="text-align:center">3%</h3></td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="text-align:center">
                        <input type="submit" id="showDiscDetails" name="showDiscDetails" style="width:150px;"
                               value="Show discount details..." />
                    </p>
                </td>
            </tr>
        </table>
        <br />
    </div>
</body>
</html>
