.labelForClass {
    position: relative;
    display: block;
    min-height: 40px;
    width: 170px;
    color: #878787;
}

#textAreaId {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    color: #878787;
    font: 14px/20px 'Open Sans', sans-serif;
    border: 1px solid;
    padding: 5px 28px 5px;
    min-height: 250px;
    height:250px;
    min-width: 400px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: text !important;
    display: block;
}

.editorForClass {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    color: #878787;
    font: 14px/20px 'Open Sans', sans-serif;
    border: 1px solid;
    padding: 5px 28px 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: text !important;
    display: block;
}
#emptySpaceId {
    height:21px;
    width: 400px;
}
#buttonsHolderId {
    height:25px;
    width: 400px;
}