<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <appSettings>
    <add key="key" value="trnsl.1.1.20130824T081805Z.0f7033cdf8659e58.b401be91626a19e6f5ea549cc8f6021083d95e52" />
    <add key="url" value="https://translate.yandex.net/api/v1.5/tr.json" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
<connectionStrings>
    <add name="TaksoparkDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Andriy\Desktop\Taksopark\Taksopark.WebForms\App_Data\TaksoparkDB.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>