@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = null;
}
﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Про проект</title>
    @Styles.Render("~/Content/Layout/about")
</head>


<body>
    <div class="block1">
        <h1>Про проект</h1>
        <p>
            ТаксоПарк- веб-проект створений креативною командою студентів EpamITLab, був запущений у вересні 2014.
            <br />
            <br />
            Основне завдання проекту - допомога в налагодженні контакту між таксопарками та клієнтами.
            Ми спрощуєм оформлення замовлень, пошук "надійних" таксистів та надаємо широкий спектр
            послуг пов'язаних із транспортним перевезенням.
        </p>

    </div>
    <div class="ContactlUs">
        <h2>Контакти</h2>
        <br />
        <p>Маєте питання чи пропозиції?!</p>
        <br />
        <a href="mailto:some.mail@gmail.com" class="emailUsButton"><span>Email</span></a>
        <br />
        <a href="tel:+13174562564">+397-000-1234</a>
    </div>





</body>
</html>