@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Про проект</title>
    @Styles.Render("~/Content/Layout/about")

</head>
<body>
    <div class="block1" style="border: 1px solid #fdc903 ; height: 300px; padding-top: 5px;">
        <p>
            <span style="font-size : 19px;"><span class="color1">Т</span>aksopark</span>
            <br />
            <br />
            Taksopark is a web project created by a team of students from EPAM Systems .NET IT Lab.
            The purpose of the project is to establish contacts between a taxi company and customers.<br />
            <br />
            <span class="color1">M</span>ajor features:<br />
             - ordering taxi by clients<br />
             - fast execution ordering by operator<br />
             - easy website management<br />
             - saving orders history for every individual user.<br />
        </p>
    </div>
</body>
</html>
