@using System.Web.Optimization
@Scripts.Render("~/bundles/map")
@Styles.Render("~/Content/Layout/my-css")
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<body onload="GetMap()">
    <span style="font-size: 19px;"><span class="color1">Location</span> on map</span>
    <div id="myMap" class="map2"></div>
    <!--<div id="routeLayer">
            <table id="routeTable">
                <tr>
                    <th>LAT</th>
                    <th>LON</th>

                </tr>
            </table>
        </div>-->
    <!--<div style="clear:both;"></div>-->
</body>
