@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-Us">
<head>
    <meta charset="utf-8" />
    <title>500:Internet Server Error</title>
    @Styles.Render("~/Content/Layout/error-style")
</head>

<body>
    <div class="block1">
        <h1>500:Internet Server Error</h1>
        <p>
            The server encountered an internal error or misconfiguration and was
            unable to complete your request.
            <br>
            <br>
            Please contact the server administrator, <a href="mailto:some.mail@gmail.com">some.mail@gmail.com</a> and inform
            them of the time the error occurred, and anything you might have done
            that may have caused the error.
            <br>
            <br>
        </p>
    </div>
</body>

</html>
