
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterView</title>
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        <div id="register" style="border: solid 2px #fdc903; width: 600px; height: 400px; background-color: white; margin-top: 15px; margin-bottom: 15px; margin-left: auto; margin-right: auto;">
            <h1 style="text-align:center">Register</h1>
            <br />
            <table id="tableRegister" style="margin: auto;">
                <tr style="padding-bottom: 15px;">
                    <td><b>Name:</b></td>
                    <td><input type="text" id="userName" name="userName" style="background-color:white" /></td>
                </tr>
                <tr>
                    <td><b>Last Name:</b></td>
                    <td><input type="text" id="userLastName" name="userLastName" style="background-color:white" /></td>
                </tr>
                <tr>
                    <td><b>Login:</b></td>
                    <td><input type="text" id="userLogin" name="userLogin" style="background-color:white" /></td>
                </tr>
                <tr>
                    <td><b>E-mail:</b></td>
                    <td><input type="text" id="userEmail" name="userEmail" style="background-color:white" /></td>
                </tr>
                <tr>
                    <td><b>Password:</b></td>
                    <td><input type="text" id="userPassword" name="userPassword" style="background-color:white" /></td>
                </tr>
                <tr>
                    <td><b>Confirm password:</b></td>
                    <td><input type="text" id="userConfirmPassword" name="userConfirmPassword" style="background-color:white" /></td>
                </tr>
                <tr>
                    <td><b>Photo:</b></td>
                    <td>
                        @using (Html.BeginForm("", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                        <input type="file" id="fileUpload" name="fileUpload" value="Choose file..." /><br />
                            <input type="submit" name="submitUpload" id="submitUpload" value="Upload photo" class="abutton" />
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p style="text-align:center"><input type="submit" style="width:150px;" value="Register" class="abutton" /></p></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
