.block1 { 
	height: 350px;
	font-weight: 700;
	padding: .15em .3em;
	outline: none;
	border: 1px solid #fdc903;
    clear: both;
   }
   
.block1 p{
    margin:7%;
	color: #878787;
	text-decoration: none;
}
   


.block1 h1{
    margin:7%;
	text-transform:uppercase;
	text-align: Left;
	color:#878787;
}
