.ui-resizable-handle .ui-resizable-s::before,
    .ui-resizable-handle.ui-resizable-s::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: 150px;
        border-style: solid;
        border-width: 10px;
    }

    .ui-resizable-handle.ui-resizable-s::before {
        border-color: #aaa transparent transparent transparent;
        top: 2px;
    }

    .ui-resizable-handle.ui-resizable-s::after {
        border-color: #fff transparent transparent transparent;
        top: 1px;
    }

    .ui-dialog {
        overflow: visible;
        border-radius: 0;
    }
    .ui-dialog-title {
        color: #ffffff;
    }

    .ui-dialog-titlebar {
        background: #fdc903;
        border-radius: 1px;
        border: solid 1px #dfdfdf;
        height: 35px;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        right: 0;
        background-color: transparent;
    }
        .ui-dialog .ui-dialog-titlebar-close:hover{
            border-top: 1px solid #dfdfdf;
            background-color: #585757;
        }

        .ui-dialog-buttonpane .ui-button {
            margin-left: 16px;
            background: #fdc903;
            border-radius: 0;
            color: #ffffff;
            
        }
            .ui-dialog-buttonpane .ui-button:hover {
                background: #585757;
                color: #fdc903;
                border-radius: 0;
            }
