﻿@using System.Web.Optimization
@using System.Web.Optimization
@using Taksopark.MVC.Controllers.Home
@Styles.Render("~/Content/Layout/my-css")
@Scripts.Render("~/bundles/ready-script")
@Styles.Render("~/Content/Layout/slider-style")
@Scripts.Render("~/bundles/slider-js")
<script>
    auto();
</script>
<script>
    $(document).ready(function () {
        $("#dtBox").DateTimePicker();
    });
</script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/Layout/DateTimePicker.css" />
<script type="text/javascript" src="/Scripts/app-scripts/DateTimePicker.js"></script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&region=ua-UA" type="text/javascript"></script>
<script src="/Scripts/app-scripts/map-script.js"></script>
<div class="container_12">
    <div class="grid_12" style="text-align: center">
        <h1>
            <a href="#">
                <img src="~/Content/Image/logo.bmp" alt="Your Happy Family" />
            </a>
        </h1>
    </div>
</div>
<div class="clear"></div>
<div class="inner-map-div" style="margin-bottom: 200px;">
    @using (Ajax.BeginForm("OrderTaxi", "Home", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "holder"
    }))
    {
    <div id="holder">
        <div id="toggle" style="text-align: center">
            <input type="text" data-field="datetime" name="date-time" placeholder="Date and time:" style="height: 40px; font-size: 18px;">
            <div id="dtBox"></div>
        </div>
        <div style="text-align: center">
            <input type="text" id="placeFrom" name="txtFrom" placeholder="From:" style="height: 40px; font-size: 18px;" />
            <input type="text" id="placeTo" name="txtTo" placeholder="To:" style="height: 40px; font-size: 18px;" />
            <input type="text" id="txtphone" name="txtPhone" placeholder="Phone:" style="height: 40px; font-size: 18px;" />
            <button type="submit" class="abutton" style="height: 40px; font-size: 18px;">OrderTaxi</button>
            <button id="show" class="abutton" style="height: 40px; font-size: 18px;">More</button>
        </div>
        <br />
        <span style="font-size: 19px; margin-left: 40%"><span class="color1">Location</span> on map</span>
    </div>
    }
    <label for="distance">Distance (km): </label>
    <input type="text" name="distance" id="distance" readonly="true" />
    <button onclick="calcRoute()" class="abutton">Show the way</button>
    <div id="TaxiMap1" style="width: 95%; height:88%"></div>
</div>
